aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
alabaster==0.7.12
android-backup==0.2.0
ansible-core==2.11.6
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.1.0
astroid==2.8.3
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==7.1.2
colorama==0.4.4
construct==2.10.67
croniter==0.3.37
cryptography==3.4.8
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
docutils==0.17.1
ecdsa==0.17.0
entrypoints==0.3
esphomeflasher==1.3.0
esptool==2.8
filelock==3.3.0
gevent==21.8.0
greenlet==1.1.2
hass-pyscript-kernel==1.0.0
idna==3.2
ifaddr==0.1.7
imagesize==1.3.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
isort==5.9.3
jedi==0.18.0
Jinja2==3.0.1
jsonschema==4.0.1
jupyter-client==7.0.5
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.8.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
multidict==5.2.0
Naked==0.1.31
natsort==7.1.1
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.11.0
notebook==6.4.4
numpy==1.21.2
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pyaes==1.6.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.11.0
Pygments==2.10.0
pylint==2.11.1
pyparsing==2.4.7
pyrsistent==0.18.0
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-miio==0.5.8
python-socks==1.2.4
pytz==2021.3
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.26.0
resolvelib==0.5.4
Send2Trash==1.8.0
shellescape==3.8.1
six==1.16.0
SnakeMD==0.7.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.3.1
sphinx-issues==1.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.2.1
wrapt==1.13.2
wxPython==4.1.1
yarl==1.6.3
zeroconf==0.36.7
zope.event==4.5.0
zope.interface==5.4.0
