advent-of-code-data==2.0.1
alabaster==0.7.16
aocd-example-parser==2023.12.17
astroid==3.2.2
Babel==2.15.0
beautifulsoup4==4.13.0b2
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
colorclass==2.2.2
dill==0.3.8
docopt==0.6.2
docutils==0.21.2
exceptiongroup==1.2.1
idna==3.7
imagesize==1.4.1
importlib_metadata==8.0.0
iniconfig==2.0.0
isort==6.0.0b2
Jinja2==3.1.4
lazy-object-proxy==1.10.0
Markdown==3.6
MarkupSafe==2.1.5
mccabe==0.7.0
numpy==2.0.0
packaging==24.1
Pebble==5.0.7
pip-upgrader==1.4.15
platformdirs==4.2.2
pluggy==1.5.0
Pygments==2.18.0
pylint==3.2.5
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
requests==2.32.3
scipy==1.14.0
six==1.16.0
snakemd==2.2.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-issues==4.1.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
termcolor==2.4.0
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
wrapt==1.16.0
zipp==3.19.2
